<ion-view view-title="{{card.name}}" ng-controller="MainCtrl">
  <div class="list card">

    <div class="item item-body">
      <!-- src references the yelp api provided image, full-image tag -->
      <img class="full-image" src="{{card.image}}">
      <p>
        <!-- House image provided by ionicons-->
        <i class="icon ion-home"> </i>
        <!-- Three-part location in the following format:
                      Street address
                      Neighborhood
                      City and Zipcode -->
        {{card.location}}
        <!-- {{card.location.display_address[1]}} -->
        <br />
        <br />
        <!-- Phone image provided by ionicons-->
        <i class="icon ion-ios-telephone"> </i>
        <!-- phone number through yelp api call -->
        {{card.phone}}
        <br />
        <br />
        <!-- chunky quotation marks provided by ionicons -->
        <i class="icon ion-quote"> </i>
        <!-- yelp api only provides one customer review, this is the one referenced below -->
        {{card.review}}
      </p>
    </div>
    <!-- acts like a footer at the bottom of the card with three tabs for selections -->
    <div class="item tabs tabs-secondary tabs-icon-left">
      <!-- Calls the onTapLeft function in MainCtrl to let the algorithm know that bar was 'disliked' -->
      <a class="tab-item" ng-click="onTapLeft()">
        <!-- This is the same icon as below (ion-beer) but the css flips it upside down. No one likes spilled beer, hence the dislike button!-->
        <i class="icon ion-beer down-beer"></i>
        Dislike
      </a>
      <!-- Let's the user bookmark that bar to reference for later -->
      <a class="tab-item" href="#">
        <!-- <a class="tab-item" ng-click="onBookmark()"> -->
        <i class="icon ion-bookmark"></i>
        Bookmark
      </a>
      <!-- Calls the onTapRight function in MainCtrl to let the algorithm know that bar was 'liked' -->
      <a class="tab-item" ng-click="onTapRight()">
        <i class="icon ion-beer"></i>
        Like
      </a>
    </div>

  </div>
</ion-view>

<!-- <ion-view view-title="Main"> -->
  <!-- Calls carSwipedDirection function with the index of that card so it can be retrieved by algorithm
  with native $ionicGesture functionality...wasn't working so used query selector -->
    <!-- The id 'eventPlaceholder' allows the querySelector to figure out what gesture event was called and act accordingly -->
  <!-- <ion-pane on-drag-left="cardSwipedLeft($index)" on-drag-right="cardSwipedRight($index)" class="card" id="eventPlaceholder" no-scroll> -->
    <!-- bar title defined by yelp's 'name' key in returned business object -->
      <!-- <ion-header-bar class="bar-default">
        <h1 class="title">{{card.name}}</h1>
      </ion-header-bar> -->
      <!-- bar image defined by yelp's 'image_url' key in returned business object, not very good images. Possibly use seperate api or find a way to retrieve other images from yelp?  -->
          <!-- <div class="image">
            <img ng-src="{{card.image_url}}">
          </div> -->
          <!-- Three-part location in the following format:
                        Street address
                        Neighborhood
                        City and Zipcode -->
          <!-- <div style="text-align: center">{{card.location.display_address[0]}} <br /> </div>
          <div style="text-align: center">{{card.location.display_address[1]}} <br /> </div>
          <div style="text-align: center">{{card.location.display_address[2]}} <br /> </div> -->
          <!-- button for like and dislike. Call onTapDirection functions which send info to algorithm-->
          <!-- <div class="bar bar-footer">
           <button on-tap="onTapLeft()" class="ion-beer" id="second-beer"></button>
           <button on-tap="onTapRight()" class="ion-beer item-button-right" style="align: right"></button>
          </div>
    </ion-pane>
</ion-view> -->
